@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2c28;
    height: 3rem;
    max-height: 4rem;
    color: #fff;
}
.logo {
    font-family: Nunito;
}
.burger {
    display: none;
    font-size: 2rem;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
#hero {
    background-color: #2f52e0;
    padding: 4rem;
    max-height: 15rem;
    height: 12rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#hero h1 {
    font-family: Sigmar;
}
#hero p {
    font-family: Nunito;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
}
#card {
    background-color: #e5e6e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    height: 10rem;
    max-height: 30rem;
    padding: 2rem;
}
#card h2 {
    font-family: Nunito;
}
#card p {
    font-family: Nunito;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2c28;
    color: #fff;
    height: 2rem;
    width: 100%;
}

/* responsiveness */
@media (max-width: 720px) {
    html {
        font-size: 10px;
    }
    .navbar ul{
        display: none;
    }
    .burger {
        margin-right: 0.4rem;
        display: block;
    }
    #card {
        min-height: 30vh;
        font-size: 1rem;
        flex: 1;
    }
}